{% extends 'base.html' %}

{% block content %}

{% if category_posts %}

    <h1>{{ category }}</h1>

    <ul>
    {% for post in category_posts %}
        <li><a href="{% url 'article-detail' post.pk %}"
        > {{ post.title }}</a>

            - {{ post.author.first_name }}
            {{ post.author.last_name }} -
            {{ post.post_date }} <small>

            {% if user.is_authenticated %}
                - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}

         </small> <br/>
        {{ post.body|slice:":200"|safe }}</li>
    {% endfor %}
    </ul>

{% else %}
    <h2>Sorry this page does not exist...</h2>
{% endif %}

    {% block pagination %}
          {% if is_paginated %}
            <div class="pagination">
              <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          {% endif %}
        {% endblock %}
        </div>


{% endblock %}